<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/details.css">
</head>
<body>
    <div class="container details">
        <div class="show-data">
            <label for="">DNI</label>
            <input type="text" name="txt-dni" id="dni" disabled>
        </div>
        <div class="show-data">
            <label for="">Nombres</label>
            <input type="text" name="txt-name" id="name" placeholder="Nombres completos" disabled>
        </div>
        <div class="show-data">
            <label for="">Vencimiento de contrato</label>
            <input type="text" name="txt-contrac" id="contract" placeholder="Vencimiento de contrato" disabled>
        </div>
        <div class="show-data">
            <label for="">Vacaciones pendientes</label>
            <input type="text" name="txt-vacation-pending" id="vacations" placeholder="Vacaciones pendientes" disabled>
        </div>
        <div class="show-data">
            <label for="">Saldo de prestamos</label>
            <input type="text" name="txt-loans" id="loans" placeholder="Prestamos" disabled>
        </div>
    </div>
    <script src="/js/showData.js"></script>
</body>
</html>